section first-page(

height: 100vh; color: #fff;

background-image: url("../ing/first-page-bg.png"); background-repeat: no-repeat; background-size: 100% 100%;

} section#first-page › header{

width: 100%; color: #fff;

} sectionsfirst-page .logo img{ width: 100px;

} section#first-page .contact > .item p{ font-size: 12px;

}

section#first-page .contact > .item img{

width: 25px;

margin-right: 15px;

}

list-style-type: none;

section#first-page .nav justify-content: center; align-items: center;

display: flex; color: #fff;

} section#first-page .nav li{

padding-left: 35px;

cursor: pointer;

display: flex; flex-direction: column;

section#first-page .nav li:first-of-type{ padding-left: 0;

}

section#first-page .nav li::after{ content:"";

height: 3px; width: 0;

background-color: #fff7; transition: .5s ease-in-out;

} section#first-page .nav li:hover::after{ width: 50%;
